node_modules/
_entry.jsx
_entry.mjs
dist/
desktop/app/

# fjern naar token faar workflow-scope
.github/workflows/build.yml

desktop/release/
desktop/node_modules/
.github/workflows/release.yml
backup/png/
backup/svg/
backup/atlas/
backup/**/assets/png/
backup/**/assets/svg/
backup/**/assets/atlas/*.png
